/*
* {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}
*/

body{
    max-width: 99%;
}

#b_header {
    display: none;
}

.menu, #menu {
    display: none;
}

.goback {
    display: none;
}

#post_box {
    margin-left: 0%;
    margin-right: auto;
    max-width:fit-content;
}

#post-box p{
    margin-left: 20%;
}

.singolo_post{
    margin-left: 20%;
}

header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#logo {
    text-indent: -9999px;
    background-image: url(./media/unify_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 10em;
    height: 55vw; 
    width: 60vw;  
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
    margin-bottom: -8%;
}

