
* {
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}


body{
    max-width: 99%;
}

#b_header {
    display: none;
}

.menu, #menu {
    display: none;
}

.goback {
    display: none;
}

#post_box {
    margin-left: 0%;
    margin-right: auto;
    max-width:fit-content;
}

#post-box p{
    margin-left: 20%;
}

.singolo_post{
    margin-left: 13%;
}

.singola_notifica{
    margin-left: 20%;
}

.elimina_notifiche{
    margin-left: 20%;
}

.filtri{
    margin-left: 20%;
}

.product-list {
    margin-left: 13%;
    width: 100%;
}

#chatContainerRoom {
    margin-left: 11%;
}

.annuncio_container {
    margin-left: 20%;
}

#annuncio_button {
    margin-left: 20%;
}

.img_annuncio{
    list-style-type: none;
}

#post{
    margin-left: 20%;
}

#profile-info {
    margin-left: 24%;
}

header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#logo {
    text-indent: -9999px;
    background-image: url(./media/unify_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 10em;
    height: 55vw; 
    width: 60vw;  
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8%;
    margin-bottom: -8%;
}

