/*
==================
SEZIONE GLOBALE
==================
*/

*{
    margin: 0;
    padding: 0;
}

:root {                              /*Variabili globali*/ 
    --bgcolor: #c9c9c9;              
    --breadcolor: #6bc16b; 
    --logboxsfondo: rgba(107, 193, 107, 0.149);
    --txtcolor: rgb(0, 0, 0);
    --boxcolor: #040082; 
    --boxhover: #39a739; 
    --linkcolor: #040082;
    --currentlinkcolor: #e1e1e1;
    --visitedlinkcolor: #61008e;
}

:link {
    color: #040082;
}

:visited {
    color: #61008e;
}


html{
    background-color: var(--bgcolor);
}


html, body{
    width: 100%;
    font-family: "Comfortaa";
    font-size: 1em; 
    color: var(--txtcolor);
    margin:auto;
}

body{
    border: 1px solid black;
}

main h2{
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

h3{
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

.goback {                   /*Tasto "Torna su": è dopo tutti i contenuti di ogni pagina*/
    top:85%;
    left:79%;
    position:fixed;
    
}
  
.goback a {
    transition-duration: 0.1s;
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    height: 2.3rem;
    width: 2.3rem;
    margin: 0.4rem;
    margin-bottom: 0.5em;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    background: var(--breadcolor);
}

.goback a:hover {
    background: #fff;
    color: #000;
    border: 2px solid var(--breadcolor);
}



/*
======================================
                HEADER
======================================
*/
header{
    text-align: center ;
    background-size: 20%, 20%;
    background-color: var(--logboxsfondo);
}

#logo{
    text-indent: -9999px;
    background-image: url(./img/show_events.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size:10em;
    height: 350px;
}

header img {
    width: 80%;
}

.content{
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.skip-link {
    position: absolute;
    left: -9999px;
}

.skip-link.show {
    position: static;
    left: auto;
}

.breadcrumb{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    padding: 0.5em;
    border-top: 1px inset var(--bgcolor);
}

.breadcrumb a:visited{
    color: var(--visitedlinkcolor);
}

.log{
    width: 1.5%;
    height: auto;
}

/*
======================================
                MENU
======================================
*/

.menu{
    background-color: var(--breadcolor);
    color: var(--linkcolor);
    flex:1;
    align-items: center;
    flex-wrap:nowrap;
    overflow:hidden;
}

@media (max-width: 1200px) {
    .menu{
        flex-wrap: wrap;
    }
}

.menu li{
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    list-style-type: none;  
    font-weight: bold;
    border-right: var(--bgcolor) 1px solid;
}

.menu li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.menu a:link{
    color: var(--linkcolor);
}

.menu a:visited{
    color: var(--visitedlinkcolor);
}

.menu li:not(.currentmenu):hover{
    background-color: var(--boxhover);
}

.menu a:not(.currentmenu):hover{
    background-color: var(--boxhover);
}

.currentmenu{
    padding-left:1em;
    padding-right:1em;
    color: var(--txtcolor);
    text-decoration: solid;
    text-shadow: 1px 3px 4px #ffffff;
}

/*
======================================
                CORPO
======================================
*/


.loginbtn{
    color: #ffffff;
    background-color: #3b3b3b;
    padding: 6px 15px;
    font-family: inherit;
    margin-bottom: 4%;
    margin-top:4%;
}

.loginbtn:hover{
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

.loginbtn a{
    color:#ffffff;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.loginbtn a:hover{
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

#public-post{
    margin-top: 0%;
}

#post-box{
    max-width: 60%;
    flex:2;
    height:800px;
    overflow: auto;
}

#text-box{
    margin-left: 5%;
}

#extra-section{
    flex:3;
    max-width: 30%;
    overflow: hidden;
}

.singolo_post{
    background-color: #ffffff;
    padding:2%;
    margin:5%;

}

.singolo_post li{
    list-style-type: none;
    padding-bottom: 2%;
}

.interact{
    background-color: rgba(42, 85, 159, 0.633);
    padding: 1%;
}

.interact:hover{
    background-color: rgba(74, 114, 185, 0.633);
    cursor:pointer;
}

.form_box{
    text-align: center;
    padding: 15px;
    max-width: 27%;
    margin: auto;
    border: 6px solid #000000;
    margin-bottom: 2%;
    background-color: var(--logboxsfondo);
}

.form_box input{
    margin-bottom: 2%;
    margin-top:1.8%;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 3px solid #8e8d8d;
    background-color: rgba(255,255,255,0.6);
}

.form_box input:hover{
    border-bottom: 3px solid #000000;
}

.profilo{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    max-width: 50%;
}

.profilo li{
    padding-bottom: 4%;
}

fieldset{
    border: none;
    display: flex;
    gap:1%;

}

legend{
    text-indent: -9999px;
}

#profile-info{
    display: flex;
}

#profile-data{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#search-bar{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#amici{
    
}

/*
======================================
                FOOTER
======================================
*/
footer {
    color: #000000;
    background-color: var(--breadcolor);
    border-bottom: 0;
}

footer h2{
    margin-left: 0%;
    margin-bottom: 10px;
}

footer .contatti {
    text-align: center;
    padding: 0 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer p{                /*p: paragrafo*/   
    display: flex;
    font-style: italic;
    font-size: 0.8em;
    padding:10px;
    gap:0;
    justify-content: center;
}

footer li{
    list-style-type: none;
}

.imgValidCode{
    width: 80px;
}  

.copyright{
    padding-top:1%;
    padding-left: 1%;
    padding-right: 1%;
}