/*
==================
SEZIONE GLOBALE
==================
*/

*{
    margin: 0;
    padding: 0;
}

:root {                              /*Variabili globali*/ 
    --bgcolor: #f1f1f1;              
    --breadcolor: #c9c9c9; 
    --logboxsfondo: rgba(107, 141, 193, 0.149);
    --txtcolor: rgb(0, 0, 0);
    --boxcolor: #040082; 
    --boxhover: #a4a4a4; 
    --linkcolor: #000d94;
    --currentlinkcolor: #e1e1e1;
    --visitedlinkcolor: #61008e;
}

/*Bg breadcrumb: #9abeff #E0F7FA #9bb8bb    -     link color: #000d94*/

:link {
    color: #040082;
}

:visited {
    color: #61008e;
}


html{
    background-color: var(--bgcolor);
}


html, body{
    width: 100%;
    font-family: "Comfortaa";
    font-size: 1em; 
    color: var(--txtcolor);
    margin:auto;
}

body{
    border: 1px solid black;
}

main h2{
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

h3{
    text-align: center;
    padding: 0.2em;
    font-size: 1.5em;
}

.goback {                   /*Tasto "Torna su": è dopo tutti i contenuti di ogni pagina*/
    top:85%;
    left:79%;
    position:fixed;
    
}
  
.goback a {
    transition-duration: 0.1s;
    cursor: pointer;
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    height: 2.3rem;
    width: 2.3rem;
    margin: 0.4rem;
    margin-bottom: 0.5em;
    justify-content: center;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    background: var(--breadcolor);
}

.goback a:hover {
    background: #fff;
    color: #000;
    border: 2px solid var(--breadcolor);
}

.hideall{
    display: none;
}


/*
======================================
                HEADER
======================================
*/
header{
    text-align: center ;
    background-size: 20%, 20%;
    background-color: var(--logboxsfondo);
}

#logo{
    text-indent: -9999px;
    background-image: url(./media/unify_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size:10em;
    height: 15vw;
    width: 18vw; 
    position: absolute; 
    top: 80px;
    left: 10px; 
}

header img {
    width: 80%;
}

.content{
    display: flex;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

.skip-link {
    position: absolute;
    left: -9999px;
}

.skip-link:focus {
    position: static;
    left: auto;
}

.breadcrumb{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    padding: 0.5em;
    border-top: 1px inset var(--bgcolor);
}

.breadcrumb a:visited{
    color: var(--visitedlinkcolor);
}

.log{
    width: 1.5%;
    height: auto;
}

/*
======================================
                MENU
======================================
*/

#menu{
    flex:1;
    overflow: auto;
}

.menu{
    background-color: var(--breadcolor);
    color: var(--linkcolor);
    align-items: center;
    flex-wrap:nowrap;
    overflow:hidden;
    margin-top: 150px;
    width: 65%;
    border-radius:5px;
}

@media (max-width: 1200px) {
    .menu{
        flex-wrap: wrap;
    }
}

.menu li{
    padding-left:1em;
    padding-right:1em;
    padding-top:0.5em;
    padding-bottom:0.5em;
    list-style-type: none;  
    font-weight: bold;
    border-right: var(--bgcolor) 1px solid;
}

.menu li a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.menu a:link{
    color: var(--linkcolor);
}

.menu a:visited{
    color: var(--visitedlinkcolor);
}

.menu li:not(.currentmenu):hover{
    background-color: var(--boxhover);
}

.menu a:not(.currentmenu):hover{
    background-color: var(--boxhover);
}

.currentmenu{
    padding-left:1em;
    padding-right:1em;
    color: var(--txtcolor);
    text-decoration: solid;
    text-shadow: 1px 3px 4px #ffffff;
}

/*
======================================
                CORPO
======================================
*/


/*---- MESSAGGI GET ------*/
.messaggio{
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--logboxsfondo);
    font-weight: bold;
}

.messaggioerrore{
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: var(--logboxsfondo);
    font-weight: bold;
    color: rgb(165, 0, 0);
}

#login_form{
    margin-top: 7%;
    margin-bottom: 7%;
    width: 20%;
}

#registrazione_form{
    margin-top: 2%;
    margin-bottom: 2%;
}

.loginbtn{
    color: #ffffff;
    background-color: #3b3b3b;
    padding: 6px 15px;
    font-family: inherit;
    margin-bottom: 4%;
    margin-top:4%;
}

.loginbtn:hover, .loginbtn:focus{
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

.loginbtn a{
    color:#ffffff;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.loginbtn a:hover{
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

.deletebtn{
    color: #ffffff;
    background-color: #bd0101;
    padding: 6px 15px;
    font-family: inherit;
    margin-bottom: 4%;
    margin-top:4%;
}

.deletebtn:hover{
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

#public-post{
    margin-top: 0%;
}

#public-post_mobile{
    margin-top: 0%;
}

#post-box{
    max-width: 80%;
    flex:2;
    height:800px;
    overflow: auto;
    margin-right: -10%;
    margin-left:-10%;
}

#post-box_mobile{
    max-width: 80%;
    flex:2;
    height:800px;
    overflow: auto;
    margin-right: -10%;
    margin-left:-10%;
}

.page_title{
    border-bottom: 1px solid #000000;
    margin-left: 21%;
    margin-right: 21%;
}

#text-box{
    margin-left: 15%;
}

#text-box_mobile{
    margin-left: 15%;
}

#extra-section{
    flex:3;
    max-width: 20%;
    overflow: hidden;
    margin-left: 10%;
    border-left: 1px solid #000000;
}

.singolo_post{
    background-color: #ffffff;
    padding:2%;
    margin:5%;
    overflow: hidden;
    border-radius: 10px;
}

.singolo_post li{
    list-style-type: none;
    padding-bottom: 2%;
}

.interact, .like-interact, .comment-interact{
    background-color: rgba(74, 114, 185, 0.633);
    padding: 1%;
    border-radius: 5px;
}

.interact:hover, .like-interact:hover, .comment-interact:hover{
    background-color: rgba(103, 145, 216, 0.633);
    cursor:pointer;
}

.elimina_inline .interact{
    padding:20%;
}

#friend_button{
    padding: 5%;
    width: 100%;
    margin-left: 30%;
}

.form_box{
    text-align: center;
    padding: 15px;
    max-width: 37%;
    margin: auto;
    border: 6px solid #000000;
    margin-bottom: 2%;
    background-color: var(--logboxsfondo);
}

.form_box input{
    margin-bottom: 2%;
    margin-top:1.8%;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 3px solid #8e8d8d;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
}

.form_box textarea{
    width:100%;
}

.form_box input:hover{
    border-bottom: 3px solid #000000;
}

.profilo{
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    max-width: 50%;
}

.profilo li{
    padding-bottom: 4%;
}

#profile-pic{
    width: 100%;
    height: auto;
    margin-right: -20%;
}

#profile-pic_mobile{
    width: 100%;
    height: auto;
    margin-right: -20%;
}

.profile-picture{
    width: 40%;
    height: auto;
    border-radius: 50%;
}

#friend-picture{
    width: 100%;
    border-radius:50%;
}

#friend-picture_mobile{
    width: 100%;
    border-radius:50%;
}

.amico {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.amico-foto {
    margin-left: 2em;
    width: 25%;
}

.amico-info {
    flex-grow: 1;
}

.amico-azione {
    margin-right: 2em;
}

fieldset{
    border: none;
    display: flex;
    gap:1%;

}

legend{
    text-indent: -9999px;
}

#profile-info{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#profile-info_mobile{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#profile-data{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-right:20%;
}

#profile-data_mobile{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-right:20%;
}

#search-bar, #search-bar_mobile{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#search, #search_mobile, #text, #text_mobile{
    padding: 10px; 
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.textarea_commento{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.textarea_commento_index{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom:-3%;
}

.label_commento, .numero_like{
    margin-top: auto;
    margin-bottom: auto;
}

.content_comm{
    border-bottom : 1px inset #727272;
}

/* Classe per evidenziare il commento */
.highlight {
    background-color: rgba(75, 195, 219, 0.521);
    animation: fadeOut 3s 2.5s forwards;
    border-bottom: 1px inset #727272;
}

/* Animazione per la dissolvenza del colore di sfondo */
@keyframes fadeOut {
    0% {
        background-color: rgba(75, 195, 219, 0.521);
    }
    100% {
        background-color: transparent;
    }
}

.singolo_post .media img, .singolo_post .media video{
    max-width: 100%;
    height: auto;
    display: block;
}

.singolo_post .player iframe{
    max-width: 100%;
    min-height: 100%;
    display: block;
}

hr{
    border: 0px;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #1a3d95, #ccc);
}

.social img{
    width: 4%;
    height: 4%;
    margin: 0.5%;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: calc(33.333% - 32px); /* Tre riquadri per riga con spazio */
    box-sizing: border-box;
    text-align: center;
    background-color: #d5e9ff;
}

.product-card li{
    list-style-type: none;
}

.product-info{
    word-break: break-word;
}

.product-info p{
    padding-bottom: 4%;
}

.product-image img{
    width: 100%;
    height: auto;
}

.sell-book-btn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #023975;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000; /* Assicurati che il pulsante sia sopra altri elementi */
}

.sell-book-btn:hover {
    background-color: #0056b3;
}

.sell-book-btn:focus {
    outline: 2px solid #ff9100; /* ad esempio, giallo oro */
    outline-offset: 4px;
}

#chatContainer, #chatContainer_mobile{
    display:none; 
    position:fixed; 
    bottom:0; 
    right:22%; 
    width: 18.75em; 
    height: 25em; 
    border:1px solid #ccc; 
    background-color:#fff;
}

#chatContainer, #chatContainerRoom_mobile, #chatContainerRoom{
    border-left: 1px solid #0048ff;
    border-bottom: 1px solid #0048ff;
    border-top: 1px solid #0048ff;
}

#chatHeader, #chatHeader_mobile, #chatHeaderRoom, #chatHeaderRoom_mobile{
    background-color:#007bff; 
    color:#fff; 
    padding:10px; 
}

.close_chat{
    float:right; 
    background:none; 
    border:none; 
    color:#fff;
    cursor:pointer;
}

#chatMessages, #chatMessages_mobile{
    padding:10px; 
    height:300px; 
    overflow-y:scroll;
}

#chatMessagesRoom, #chatMessagesRoom_mobile{
    padding:10px; 
    height: 450px;
    overflow-y:scroll;
}

#chatMessages .sent, #chatMessages_mobile .sent, #chatMessagesRoom .sent, #chatMessagesRoom_mobile .sent{
    background-color: #0048ff;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    max-width: 70%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 0.2em;
}

#chatMessagesRoom .sent, #chatMessagesRoom .received, #chatMessagesRoom_mobile .sent, #chatMessagesRoom_mobile .received{
    max-width: 50%;
    width: auto;
    word-wrap: break-word;
    display: block;
}

#chatMessages .received, #chatMessages_mobile .received , #chatMessagesRoom .received, #chatMessagesRoom_mobile .received{
    background-color: #b8b6b6;
    padding: 5px;
    border-radius: 5px;
    max-width: 70%;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 0.2em;
}

#chatInput, #chatInput_mobile, #chatInputRoom, #chatInputRoom_mobile{
    padding: 10px;
}

#chatMessage, #chatMessage_mobile, #chatMessageRoom, #chatMessageRoom_mobile{
    width:80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendButton, #sendButton_mobile {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 1.3em;
    margin-left: 10px;
}

#sendButton:hover, #sendButton_mobile:hover {
    color: #0056b3;
}

#chatContainer.visible, #chatContainer_mobile.visible{
    display: block;
}

.form_filtri{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-wrap: wrap;
}

.filtri div{
    margin-right: 1%;
}

.filtri select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filtri select:hover{
    border: 1px solid #000000;
}

.filtri button{
    padding: 8px;
}

.filtri #search:hover, .filtri #search_mobile:hover{
    border: 1px solid #000000;
}

.annuncio_container{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-bottom: 2%;
}

.img_annuncio img{
    width: 100%;
    height: auto;
}

.dati_annuncio{
    width: 70%;
    list-style-type: none;
    padding:1%;
}

.interessati{
    min-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.interessati tbody{
    text-align: center;
}

.interessati td{
    border-top: 1px solid #000000;
}

#descrizione_tab_interessati, #descrizione_tab_interessati_mobile{
    text-indent: -9999px;
}

.msg_centrato{
    text-align: center;
}

#ban_button{
    margin-left: 40%;
    margin-right: auto;
}

.info-tag{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 0.8em;
}

.info-tag-center{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 0.8em;
    text-align: center;
}

#emailHelp{
    text-indent: -9999px;
}

.singola_notifica{
    background-color: #f1f1f1;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    list-style-type: none;
}

#lista_notifiche{
    margin-left:auto;
    margin-right:auto;
    width: 90%;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
======================================
                FOOTER
======================================
*/
footer {
    color: #000000;
    background-color: var(--breadcolor);
    border-bottom: 0;
}

footer h2{
    margin-left: 0%;
    margin-bottom: 10px;
}

footer .contatti {
    text-align: center;
    padding: 0 10px;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer p{                /*p: paragrafo*/   
    display: flex;
    font-style: italic;
    font-size: 0.8em;
    padding:10px;
    gap:0;
    justify-content: center;
}

footer li{
    list-style-type: none;
}

.imgValidCode{
    width: 80px;
}  

.copyright{
    padding-top:1%;
    padding-left: 1%;
    padding-right: 1%;
}