<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8" />
	
	<title> <component>nome_aula_title</component> - UNIfy </title>
	<meta name = "description" content = "Questa pagina è dedicata alla partecipazione alla discussione del topic rigurdante l'aula studio selezionata" />
	<meta name ="keywords" content ="unify, università, studenti, social, aula, studio, virtuale, gruppo, chat, <component>keywords</component>" /> <!--TODO: DA MODIFICARE-->
	<meta name="author" content="Leonardo Frigo, Nicholas Moretto, Raul Seganfreddo, Giacomo Toso"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./style.css" />
	<link rel="stylesheet" href="./mini.css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="./print.css" media="print"/>

	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' />
	<link rel="shortcut icon" type="image/png" href="./media/unify_icon.png" media="screen" /> <!--icona visibile su browser-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


	<script src="./js/menu_mobile.js"></script>
	<script>
        // Passa il nome dell'aula al JavaScript
        const roomName = "<component>nome_aula</component>";
    </script>
    <script src="./js/chat-aula-studio.js"></script>
	<script src="./js/pagine_mobile.js"></script>
</head>

<body>	
    <div id="container">
        <component>header</component>

        <nav class="breadcrumb" aria-label="Breadcrumb">      
			<p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt;&gt; <a href="aule-studio-virtuali.php">Aule Studio Virtuali</a> &gt;&gt; <component>nome_aula</component></p>
		</nav>

        <main id="main">
			<div class="mobile-content hideall">
				<div id="search-bar_mobile">
					<form method="get" id="searchbarmobile_form" name="searchbarmobile_form" action="search.php">
						<div>
							<label for="search_mobile">Cerca qui:</label><br/>
							<input type="text" name="q" id="search_mobile" placeholder="Cerca..." />
							<button type="submit" class="loginbtn">Cerca</button>
							<div class="error" id="searchmobile_error"></div>
						</div>
					</form>
					<script>
						document.addEventListener("DOMContentLoaded", function() {
							var form = document.forms["searchbarmobile_form"];
							form.addEventListener('submit', function(event) {
								if(!searchbarmobile()){
									event.preventDefault();
								}
							});
						});
					</script>
				</div>
			</div>

			<h2 class="page_title"><component>nome_aula</component></h2>

			<div class="desktop-content">
				<!-- da qui partono i 3 blocchi di contenuto -->
				<div class="content">
					<!-- nota: i 3 blocchi andrebbero messi uno a fianco all'altro, ma aspetto qualche guru del front-end per farlo -->
					<nav id="menu" aria-label="Menù del sito">
						<component>menu</component>
					</nav>
					
					<nav id="post-box" aria-label="Sezione compilazione dati per mettere in vendita un libro">
						<div id="chatContainerRoom">
							<div id="chatHeaderRoom">
								Chat di Gruppo - <span id="roomDisplayName"></span>
							</div>
							<div id="chatMessagesRoom">
								<!-- Messaggi della chat -->
							</div>
							<div id="chatInputRoom">
								<input type="text" id="chatMessageRoom" placeholder="Scrivi un messaggio..." />
								<button id="sendButton" onclick="sendMessage(<component>code</component>)" title="Invia" aria-label="Bottone di invio del messaggio" ><i class="fas fa-paper-plane"></i></button>
							</div>
						</div>

					</nav>
						
						
					<nav id="extra-section" aria-label="Sezione di ricerca e interessi">
						<div id="search-bar">
							<form method="get" id="searchbar_form" name="searchbar_form" action="search.php">
								<div>
									<label for="search">Cerca qui:</label><br/>
									<input type="text" name="q" id="search" placeholder="Cerca..." />
									<button type="submit" class="loginbtn">Cerca</button>
									<div class="error" id="search_error"></div>
								</div>
							</form>
							<script>
								document.addEventListener("DOMContentLoaded", function() {
									var form = document.forms["searchbar_form"];
									form.addEventListener('submit', function(event) {
										if(!searchbar()){
											event.preventDefault();
										}
									});
								});
							</script>
						</div>
						<div id="suggeriti">
							<component>suggeriti</component>
						</div>
					</nav>
				<!-- fine dei 3 blocchi di contenuto -->
				</div>
			</div>

			<div class="mobile-content hideall">
				<component>menu</component>
				<nav id="post-box_mobile" aria-label="Sezione compilazione dati per mettere in vendita un libro">
					<div id="chatContainerRoom_mobile">
						<div id="chatHeaderRoom_mobile">
							Chat di Gruppo - <span id="roomDisplayName_mobile"></span>
						</div>
						<div id="chatMessagesRoom_mobile">
							<!-- Messaggi della chat -->
						</div>
						<div id="chatInputRoom_mobile">
							<input type="text" id="chatMessageRoom_mobile" placeholder="Scrivi un messaggio..." />
							<button id="sendButton_mobile" onclick="sendMessage(<component>code</component>)" title="Invia" aria-label="Bottone di invio del messaggio" ><i class="fas fa-paper-plane"></i></button>
						</div>
					</div>

				</nav>
				<div id="suggeriti_mobile">
					<component>suggeriti</component>
				</div>
			</div>
			
			<component>goback</component>
		</main>
	</div>
    <component>footer</component>

</body>
</html>