<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8" />
	
	<title> Compro/Vendo Libri - UNIfy </title>
	<meta name = "description" content = "Questa pagina è dedicata alla vendita dei libri universitari" />
	<meta name ="keywords" content ="unify, università, studenti, social, reazioni, vendita, acquisto, libri, universitari" /> <!--TODO: DA MODIFICARE-->
	<meta name="author" content="Leonardo Frigo, Nicholas Moretto, Raul Seganfreddo, Giacomo Toso"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./style.css" />
	<link rel="stylesheet" href="./mini.css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="./print.css" media="print"/>

	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' />
	<link rel="shortcut icon" type="image/png" href="./media/unify_icon.png" media="screen" /> <!--icona visibile su browser-->
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="./js/menu.js"></script>
	<script src="./js/menu_mobile.js"></script>
	<script src="./js/pagine_mobile.js"></script>
</head>

<body>	
    <div id="container">
        <component>header</component>

        <nav class="breadcrumb" aria-label="Breadcrumb">      
			<p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt;&gt; Compro/Vendo Libri</p>
		</nav>

        <main id="main">
			<div class="mobile-content">
				<div id="search-bar_mobile">
					<component>search_bar</component>
				</div>
			</div>

			<h2 class="page_title">Compro/Vendo Libri</h2>

			<div class="desktop-content hideall">
				<!-- da qui partono i 3 blocchi di contenuto -->
				<div class="content">
					<!-- nota: i 3 blocchi andrebbero messi uno a fianco all'altro, ma aspetto qualche guru del front-end per farlo -->
					<nav id="menu" aria-label="Menù del sito">
						<component>menu</component>
					</nav>
					
					<nav id="post-box" aria-label="Sezione visualizzazione libri in vendita">
						<component>messaggio</component>
						<form action="vendi-libro.php" method="post">
							<button class="sell-book-btn" type="submit" aria-label="Bottone che permette di mettere in vendita un libro"	>Vendi un libro</button>
						</form>

						<div class="filtri">
							<component>filtri</component>
						</div>
						
						<component>lista_libri</component>
					</nav>
						
						
					<nav id="extra-section" aria-label="Sezione di ricerca e interessi">
						<div id="search-bar">
							<component>search_bar</component>
						</div>
						<!-- potrebbe interessarti -->
					</nav>
				<!-- fine dei 3 blocchi di contenuto -->
				</div>
			</div>

			<div class="mobile-content">
				<component>menu</component>
				<nav id="post-box_mobile" aria-label="Sezione visualizzazione libri in vendita">
					<component>messaggio</component>
					<form action="vendi-libro.php" method="post">
						<button class="sell-book-btn" type="submit" aria-label="Bottone che permette di mettere in vendita un libro"	>Vendi un libro</button>
					</form>

					<div class="filtri">
						<component>filtri_mobile</component>
					</div>
					
					<component>lista_libri</component>
				</nav>
			</div>
			
			<component>goback</component>
		</main>
	</div>
    <component>footer</component>

</body>
</html>