<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="utf-8" />

  <title> Errore - UNIfy </title>
  <meta name = "description" content = "Questa pagina è finalizzata a visualizzare le informazioni riguardanti un errore incontrato" />
  <meta name = "keywords" content = "unify, social, errore, error" />
  <meta name="author" content="Leonardo Frigo, Nicholas Moretto, Raul Seganfreddo, Giacomo Toso" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./style.css" />
  <link rel="stylesheet" href="./mini.css" media="screen and (max-width:600px)" />
  <link rel="stylesheet" href="./print.css" media="print"/>

  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' />
  <link rel="shortcut icon" type="image/png" href="./media/unify_icon.png" media="screen" /> <!--icona visibile su browser-->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="./js/menu.js"></script>
  <script src="./js/menu_mobile.js"></script>
  <script src="./js/like-comment.js"></script>
  <script src="./js/pagine_mobile.js"></script>
</head>

<body>
<div id="container">
  <component>header</component>

  <nav class="breadcrumb" aria-label="Breadcrumb">
    <p>Ti trovi in: Errore <component>code_error</component></p>
  </nav>

  <main>
    <div class="mobile-content hideall">
      <div id="search-bar_mobile">
        <form method="GET" id="searchbarmobile_form" name="searchbarmobile_form" action="search.php">
            <div>
                <label for="search_mobile">Cerca qui:</label><br/>
                <input type="text" name="q" id="search_mobile" placeholder="Cerca...">
                <button type="submit" class="loginbtn">Cerca</button>
                <div class="error" id="searchmobile_error"></div>
            </div>
        </form>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var form = document.forms["searchbarmobile_form"];
                form.addEventListener('submit', function(event) {
                    if(!searchbarmobile()){
                        event.preventDefault();
                    }
                });
            });
        </script>
    </div>
    </div>

    <h2 class="page_title">Errore (<component>code_error</component>)</h2>

    <div class="desktop-content">
      <!-- da qui partono i 3 blocchi di contenuto -->
      <div class="content">
        <!-- nota: i 3 blocchi andrebbero messi uno a fianco all'altro, ma aspetto qualche guru del front-end per farlo -->
        <nav id="menu" aria-label="Menù del sito">
          <component>menu</component>
        </nav>

        <nav id="post-box" aria-label="Sezione con informazioni riguardanti l'errore incontrato">
          <h3>Ops! C'e' stato un errore!</h3>
          <h4> Codice di errore: <component>code_error</component></h4>
          <br>
          <div>
            <p><component>message_error</component></p>
            <br>
            <p><a href="./index.php">Torna alla home page</a></p>
          </div>
        </nav>


        <nav id="extra-section" aria-label="Sezione di ricerca e interessi">
          <div id="search-bar">
            <form method="GET" id="searchbar_form" name="searchbar_form" action="search.php">
                <div>
                    <label for="search">Cerca qui:</label><br/>
                    <input type="text" name="q" id="search" placeholder="Cerca...">
                    <button type="submit" class="loginbtn">Cerca</button>
                    <div class="error" id="search_error"></div>
                </div>
            </form>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var form = document.forms["searchbar_form"];
                    form.addEventListener('submit', function(event) {
                        if(!searchbar()){
                            event.preventDefault();
                        }
                    });
                });
            </script>
        </div>
        <div id="suggeriti">
          <component>suggeriti</component>
        </div>
        </nav>
        <!-- fine dei 3 blocchi di contenuto -->
      </div>
    </div>

    <div class="mobile-content hideall">
      <nav id="post-box_mobile" aria-label="Sezione con informazioni riguardanti l'errore incontrato">
        <h3>Ops! C'e' stato un errore!</h3>
        <h4> Codice di errore: <component>code_error</component></h4>
        <br>
        <div>
          <p><component>message_error</component></p>
          <br>
          <p><a href="./index.php">Torna alla home page</a></p>
        </div>
      </nav>
      <div id="suggeriti_mobile">
        <component>suggeriti</component>
      </div>
    </div>
      <component>goback</component>
  </main>
</div>
<component>footer</component>

</body>
</html>