<header>
    <nav class="breadcrumb" id="b_header" aria-label="Barra header">
        <div class="menu-toggle">
            <div class="hamburger-icon"></div>
        </div>
        <a href="#main" class="skip-link"><span lang="en">Vai al contenuto principale della pagina</span></a>
        <p class="button_log"><component>actionheader</component></p>
    </nav>
    <h1 id="logo"><span lang="en">Show Events</span></h1>
    <script src="./js/controlli.js"></script>
    <script src="./js/skiplink.js"></script>
</header>