<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8" />
	
	<title> Il mio profilo - UNIfy </title>
	<meta name = "description" content = "Questa pagina è finalizzata a visualizzare le informazioni del proprio profilo, compresi i post pubblicati" />
	<meta name = "keywords" content = "unify, social, profilo, post, informazioni, personale, <component>keywords</component>" />
	<meta name="author" content="Leonardo Frigo, Nicholas Moretto, Raul Seganfreddo, Giacomo Toso" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="./style.css" />
	<link rel="stylesheet" href="./mini.css" media="screen and (max-width:600px)" />
	<link rel="stylesheet" href="./print.css" media="print"/>

	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' />
	<link rel="shortcut icon" type="image/png" href="./media/unify_icon.png" media="screen" /> <!--icona visibile su browser-->
	
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="./js/menu.js"></script>
	<script src="./js/menu_mobile.js"></script>
	<script src="./js/like-comment.js"></script>
	<script src="./js/pagine_mobile.js"></script>
</head>

<body>	
    <div id="container">
        <component>header</component>

        <nav class="breadcrumb" aria-label="Breadcrumb">      
			<p>Ti trovi in: <a href="index.php"><span lang="en">Home</span></a> &gt;&gt; Il mio profilo</p>
		</nav>

        <main id="main">
			<div class="mobile-content hideall">
				<div id="search-bar_mobile">
					<form method="GET" action="search.php">
						<label for="search_mobile">Cerca qui:</label><br/>
						<input type="text" name="q" id="search_mobile" placeholder="Cerca...">
						<button type="submit" class="loginbtn">Cerca</button>
					</form>
				</div>
			</div>

			<h2 class="page_title">Il mio Profilo</h2>

			<div class="desktop-content">
				<!-- da qui partono i 3 blocchi di contenuto -->
				<div class="content">
					<!-- nota: i 3 blocchi andrebbero messi uno a fianco all'altro, ma aspetto qualche guru del front-end per farlo -->
					<nav id="menu" aria-label="Menù del sito">
						<component>menu</component>
					</nav>
					
					<nav id="post-box" aria-label="Sezione visualizzazione mio profilo e miei post">
						<component>messaggio</component>
						<h3>Informazioni personali</h3>
						<div id="profile-info">
							<div id="profile-pic">
								<img class="profile-picture" src= "<component>immagine</component>" alt="" /> <!--alt vuoto per accessibilità: o descrive il contenuto dell'immagine (il viso della persona), o lo mettiamo vuoto-->
							</div>
							<div id="profile-data">
								<p><strong>Nome:</strong> <component>nome</component></p>
								<p><strong>Username:</strong> <component>username</component></p>
								<p><strong>Data di nascita:</strong> <component>birthdate</component></p>
								<p><strong>Email:</strong> <component>email</component></p>
								<p><strong>Corso di studi: </strong> <component>corso_studi</component></p>
								<p><strong>Biografia:</strong> <component>biografia</component></p>
								<p><strong>Luogo:</strong> <component>luogo</component></p>
								<p><strong>Sito Web:</strong> <a href="<component>sito</component>"><component>sito</component></a></p>
								
									<button class="loginbtn" type="submit" onclick="window.location.href='modifica-profilo.php'" aria-label="Bottone per entrare nella modifica dei dati del profilo">Modifica Profilo</button>
								
							</div>
						</div>

						<h3>I miei post</h3>
						<div id="my-posts">
							<component>post</component>
						</div>
						
					</nav>
						
						
					<nav id="extra-section" aria-label="Sezione di ricerca e interessi">
						<div id="search-bar">
							<form method="GET" action="search.php">
								<label for="search">Cerca qui:</label><br/>
								<input type="text" name="q" id="search" placeholder="Cerca...">
								<button type="submit" class="loginbtn">Cerca</button>
							</form>
						</div>
						<div id="suggeriti">
							<component>suggeriti</component>
						</div>
					</nav>
				<!-- fine dei 3 blocchi di contenuto -->
				</div>
			</div>

			<div class="mobile-content hideall">
				<component>menu</component>
				<nav id="post-box_mobile" aria-label="Sezione visualizzazione mio profilo e miei post">
					<component>messaggio</component>
					<h3>Informazioni personali</h3>
					<div id="profile-info_mobile">
						<div id="profile-pic_mobile">
							<img class="profile-picture" src= "<component>immagine</component>" alt="" /> <!--alt vuoto per accessibilità: o descrive il contenuto dell'immagine (il viso della persona), o lo mettiamo vuoto-->
						</div>
						<div id="profile-data_mobile">
							<p><strong>Nome:</strong> <component>nome</component></p>
							<p><strong>Username:</strong> <component>username</component></p>
							<p><strong>Data di nascita:</strong> <component>birthdate</component></p>
							<p><strong>Email:</strong> <component>email</component></p>
							<p><strong>Corso di studi: </strong> <component>corso_studi</component></p>
							<p><strong>Biografia:</strong> <component>biografia</component></p>
							<p><strong>Luogo:</strong> <component>luogo</component></p>
							<p><strong>Sito Web:</strong> <a href="<component>sito</component>"><component>sito</component></a></p>
							
								<button class="loginbtn" type="submit" onclick="window.location.href='modifica-profilo.php'" aria-label="Bottone per entrare nella modifica dei dati del profilo">Modifica Profilo</button>
							
						</div>
					</div>

					<h3>I miei post</h3>
					<div id="my-posts_mobile">
						<component>post_mobile</component>
					</div>
				</nav>
			</div>
				<script>
					like_post();
				</script>
			<component>goback</component>
			</div>
		</main>
	</div>
    <component>footer</component>

</body>
</html>